{% extends "master-loggedin.html" %}

{% block content %}

{%  if posts %}
        <h1 class="has-text-grey-dark" style="text-decoration: underline saddlebrown;"> Recent Posts... </h1>
                <br>
        <ul>
            {% for post in posts %}
                <div class="container">
                <div class="columns is-desktop">
                  <div class="column">
                    <div class="card">

                        {% if post.media %}


                            <div class="card-image">
                              <figure class="image is-16by9">
                                <img src="{{ post.media }}" alt="Placeholder image">
                              </figure>
                            </div>

                        {% endif %}

                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">{{ post.heading }}</p>
                          <p class="subtitle is-6">AuthorID: {{  post.authorid }}</p>
                        </div>
                      </div>

                      <div class="content">
                        {{ post.caption }}
                        <br>
                        <br>
                        <time datetime="2016-1-1">{{ post.time }}</time>
                      </div>
                    </div>
                  </div></div>
                </div>
            {% endfor %}
        </ul>
    {%  else %}
        <h1 class="has-text-grey-dark" style="text-decoration: underline saddlebrown;"> No Posts </h1>
    {% endif %}




{% endblock %}